<div class="cart-item" data-key="{{ item.key }}" data-product="{{ item.product.id }}" data-variant="{{ item.variant.id }}" data-quantity="{{ item.quantity }}">

    <div class="cart-item-image">
    <a href="{{ item.url }}">
        {{ item.image | image_url: width: 200 | image_tag }}
    </a>
    </div>

    <div class="cart-item-info">
    <div class="info-left">
        <a href="{{ item.url }}" class="cart-item-title">
        {{ item.product.title }}
        </a>
        {% if item.variant.title != 'Default Title' %}
        <p class="cart-item-variant">{{ item.variant.title }}</p>
        {% endif %}
        <div class="cart-item-qty">
        <button type="button" class="qty-btn qty-minus">−</button>
        <input type="number" name="updates[]" value="{{ item.quantity }}" min="1">
        <button type="button" class="qty-btn qty-plus">+</button>
        </div>
    </div>

    <div class="info-right">
        <p class="cart-item-price">
        {{ item.final_line_price | money }}
        </p>
        <button type="button" class="cart-item-remove">
        Remove
        </button>
    </div>
    </div>

</div>