{% liquid
  assign heading_tag = heading_tag | default: 'h2'
  assign heading_size = heading_size | default: ''
  assign text_align = text_align | default: 'left'
%}

{% if heading != blank or description != blank %}
  <div class="hero-info text-{{ text_align }}">

    {% if heading != blank %}
      <{{ heading_tag }} class="hero-title {{ heading_size }}">
        {{ heading }}
      </{{ heading_tag }}>
    {% endif %}

    {% if description != blank %}
      <div class="hero-description">
        {{ description }}
      </div>
    {% endif %}

  </div>
{% endif %}
