{% comment %} 
 * Example: 
    {% render 'hero-info',
  heading: ss.hero_title,
  description: ss.hero_description,
  heading_tag: 'h1',
  heading_size: ss.title_font_size,
  text_align: ss.text_align,
  container_width: ss.container_width
  %} 
{% endcomment %}
{% liquid
  assign text_align = text_align | default: 'left'
  assign heading_tag = heading_tag | default: 'h2'
  assign heading_size = heading_size | default: ''

  assign base_class = 'hero-info text-' | append: text_align

  if container_width == 'extended' or container_width == 'full-width'
    assign base_class = base_class | append: ' mx-space'
  endif
%}

{% if heading != blank or description != blank %}
  <div class="{{ base_class }}">

    {% if heading != blank %}
      <{{ heading_tag }} class="hero-title {{ heading_size }}">
        {{ heading }}
      </{{ heading_tag }}>
    {% endif %}

    {% if description != blank %}
      <div class="hero-description">
        {{ description }}
      </div>
    {% endif %}

  </div>
{% endif %}
