{% liquid
  assign base_class = 'hero-info ' | append: 'text-' | append: text_align | default: 'left'
  if ss.container_width == 'extended' or ss.container_width == 'full-width'
  assign base_class = 'hero-info ' | append: 'mx-space'
 endif
  assign heading_tag = heading_tag | default: 'h2'
  assign heading_size = heading_size | default: ''
%}

{% if heading != blank or description != blank %}
  <div class="{{ base_class }}">

    {% if heading != blank %}
      <{{ heading_tag }} class="hero-title {{ heading_size }}">
        {{ heading }}
      </{{ heading_tag }}>
    {% endif %}

    {% if description != blank %}
      <div class="hero-description">
        {{ description }}
      </div>
    {% endif %}

  </div>
{% endif %}
