{% liquid
  assign text_align = text_align | default: 'left'
  assign heading_tag = heading_tag | default: 'h2'
  assign heading_size = heading_size | default: ''

  assign base_class = 'hero-info text-' | append: text_align

  if container_width == 'extended' or container_width == 'full-width'
    assign base_class = base_class | append: ' mx-space'
  endif
%}

{% if heading != blank or description != blank %}
  <div class="{{ base_class }}">

    {% if heading != blank %}
      <{{ heading_tag }} class="hero-title {{ heading_size }}">
        {{ heading }}
      </{{ heading_tag }}>
    {% endif %}

    {% if description != blank %}
      <div class="hero-description">
        {{ description }}
      </div>
    {% endif %}

  </div>
{% endif %}
