{{ 'nav-drawer.css' | asset_url | stylesheet_tag: preload: true }}

<div
  id="js-nav-drawer"
  class="shopify-section-nav noksha-drawer"
  data-open-section="nav-drawer"
>
  <div class="inner-section drawer-space m-color-{{ section.settings.sidebar_color_scheme }}">
    <div class="container">
      <div class="nav-template">

        <!-- ================= PRIMARY MENU ================= -->
        <div class="primary-menu-inner">
          <ul class="nav-drawer-menu">
            {% for link in linklists[section.settings.primary_menu].links %}
              {% assign is_collection = link.type == 'collection_link' %}
              {% assign has_children = link.links.size > 0 %}

              <li
                class="nav-drawer-item"
                data-level="parent"
                data-has-children="{{ has_children }}"
                data-is-collection="{{ is_collection }}"
                {% if is_collection %}
                  data-collection-handle="{{ link.object.handle }}"
                {% endif %}
              >
                <a href="{{ link.url }}" class="nav-drawer-link">
                  {{ link.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>

        <!-- ================= SECONDARY MENU ================= -->
        <div class="secondary-menu-inner">
          <ul class="nav-drawer-menu">
            {% for link in linklists[section.settings.secondary_menu].links %}
              <li class="nav-drawer-item">
                <a href="{{ link.url }}" class="nav-drawer-link">
                  {{ link.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>

      </div>
    </div>
  </div>

  <!-- ================= CHILD PANEL ================= -->
  <div id="js-child-linklist" class="child-linklist hide">
    <div class="child-linklist-inner">
      <div class="child-linklist-header">
        <button id="js-back-to-parent" class="back-to-parent-btn">
          &larr; Back
        </button>
        <h2 class="child-linklist-title"></h2>
      </div>

      <ul class="child-menu"></ul>
    </div>
  </div>

  <!-- ================= GRAND CHILD PANEL ================= -->
  <div id="js-grandchild-linklist" class="grandchild-linklist hide">
    <div class="grandchild-linklist-inner">
      <div class="grandchild-linklist-header">
        <button id="js-back-to-child" class="back-to-child-btn">
          &larr; Back
        </button>
        <h2 class="grandchild-linklist-title"></h2>
      </div>

      <ul class="grandchild-menu"></ul>
    </div>
  </div>

  <!-- ================= COLLECTION PRODUCTS PANEL ================= -->
  <div id="js-collections" class="collections-productlist hide">
    <div class="collections-productlist-inner">
      <div class="collections-productlist-header">
        <button id="js-back-to-collections" class="back-to-collections-btn">
          &larr; Back
        </button>
        <h2 class="collections-productlist-title"></h2>
      </div>

      <div id="CollectionProducts"></div>
    </div>
  </div>
</div>

<script src="{{ 'nav-drawer.js' | asset_url }}" defer></script>
