{{ 'nav-drawer.css' | asset_url | stylesheet_tag: preload: true }}
<div id="js-nav-drawer" class="shopify-section-nav noksha-drawer" data-open-section="nav-drawer">
    <div class="inner-section drawer-space m-color-{{ section.settings.sidebar_color_scheme }}">
        <div class="container">
            <div class="nav-template">
                <div class="primary-menu-inner">
                    <ul class="nav-drawer-menu">
                        {% for link in linklists[section.settings.primary_menu].links %}
                            <li class="nav-drawer-item">
                                <a href="{{ link.url }}" class="nav-drawer-link">
                                    {{ link.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="secondary-menu-inner">
                    <ul class="nav-drawer-menu">
                        {% for link in linklists[section.settings.secondary_menu].links %}
                            <li class="nav-drawer-item">
                                <a href="{{ link.url }}" class="nav-drawer-link">
                                    {{ link.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Child Link List Window -->
    <div id="js-child-linklist-window" class="child-linklist-window panel-1 hide">
        <div class="child-linklist-inner">
            <div class="child-linklist-header">
                <button id="js-back-to-parent" class="back-to-parent-btn" aria-label="Back to parent menu">
                    &larr; Back
                </button>
                <h2 class="child-linklist-title"></h2>
            </div>
        </div>
    </div>
    <!-- Grand Child Link List Window -->
    <div id="js-grandchild-linklist-window" class="grandchild-linklist-window panel-2 hide">
        <div class="grandchild-linklist-inner">
            <div class="grandchild-linklist-header">
                <button id="js-back-to-child" class="back-to-child-btn" aria-label="Back to child menu">
                    &larr; Back
                </button>
                <h2 class="grandchild-linklist-title"></h2>
            </div>
        </div>
    </div>
    <!-- Collections Product List Window -->
    <div id="js-collections-productlist-window" class="collections-productlist-window panel-3 hide">
        <div class="collections-productlist-inner">
            <div class="collections-productlist-header">
                <button id="js-back-to-collections" class="back-to-collections-btn" aria-label="Back to collections menu">
                    &larr; Back
                </button>
                <h2 class="collections-productlist-title"></h2>
                <!-- Product List call form == template/search.ajax-search.liquid == predictive-product-item -->
                <div id="CollectionProducts"></div>
            </div>
        </div>
    </div>
</div>
<script src="{{ 'nav-drawer.js' | asset_url }}" defer="defer"></script>