{%- comment -%}
  Predictive product Item
  Used for search drawer, nav, etc.
  using: {% render 'predictive-product-item', product: product, enable_search_data: true %}

{%- endcomment -%}
<div class="search-product-item">
  <a href="{{ product.url }}" class="product-card" data-product-url>
    <div class="product-card__image">
      <img
        src="{{ product.featured_image | image_url: width: 300 }}"
        alt="{{ product.title }}"
        loading="lazy"
        data-product-image
      >
    </div>
    <div class="product-card__info">
      <h5 data-product-title>{{ product.title }}</h5>
      <span class="price" data-product-price>{{ product.price | money }}</span>
    </div>
  </a>
</div>


