{%- comment -%}
  Predictive product Item
  Used for search drawer, nav, etc.
  using: {% render 'predictive-product-item', product: product, enable_search_data: true %}

{%- endcomment -%}
{% assign enable_search_data = enable_search_data | default: false %}

{% if enable_search_data %}
  {% assign collections_titles = product.collections | map: 'title' | join: ',' | downcase %}
  {% assign tags = product.tags | join: ',' | downcase %}
  {% assign title = product.title | downcase %}
{% endif %}

<div
  class="search-product-item"
  {% if enable_search_data %} data-title="{{ title }}" data-tags="{{ tags }}" data-collection="{{ collections_titles }}" {% endif %}>
  <a href="{{ product.url }}" class="product-card">
    <div class="product-card__image">
      {{ product.featured_image | image_url: width: 300 | image_tag }}
    </div>
    <div class="product-card__info">
      <h5>{{ product.title }}</h5>
      <span class="price">
        {{ product.price | money }}
      </span>
    </div>
  </a>
</div>
