<form id="CollectionFilters">

  {% for block in section.blocks %}
    {% case block.type %}

      {% when 'availablity-filter' %}
        {% for filter in collection.filters %}
          {% if filter.label == 'Availability' %}
            <fieldset>
              <legend>Availability</legend>
              {% for value in filter.values %}
                <label>
                  <input
                    type="checkbox"
                    name="{{ value.param_name }}"
                    value="{{ value.value }}"
                    {% if value.active %}checked{% endif %}
                  >
                  {{ value.label }}
                  <span>({{ value.count }})</span>
                </label>
              {% endfor %}
            </fieldset>
          {% endif %}
        {% endfor %}

      {% when 'vendor-filter' %}
        {% for filter in collection.filters %}
          {% if filter.label == 'Brand' or filter.label == 'Vendor' %}
            <fieldset>
              <legend>{{ filter.label }}</legend>
              {% for value in filter.values %}
                <label>
                  <input
                    type="checkbox"
                    name="{{ value.param_name }}"
                    value="{{ value.value }}"
                    {% if value.active %}checked{% endif %}
                  >
                  {{ value.label }}
                  <span>({{ value.count }})</span>
                </label>
              {% endfor %}
            </fieldset>
          {% endif %}
        {% endfor %}

{% when 'collection-filter' %}

  {% assign menu = linklists[block.settings.collection_menu] %}
  {% assign has_match = false %}

  {% if menu.links.size > 0 and collection %}

    {% capture collection_items %}
      {% for link in menu.links %}
        {% if link.type == 'collection_link' and link.object.handle == collection.handle %}
          {% assign has_match = true %}

          <label>
            <input
              type="radio"
              name="collection_handle"
              value="{{ collection.handle }}"
              checked
            >
            {{ link.title }}
          </label>
        {% endif %}
      {% endfor %}
    {% endcapture %}

    {% if has_match %}
      <fieldset class="filter filter--collections">
        <legend>Collections</legend>
        {{ collection_items }}
      </fieldset>
    {% endif %}

  {% endif %}


      {% when 'color-filter' %}
        {% for filter in collection.filters %}
          {% if filter.label == 'Color' %}
            <fieldset>
              <legend>Color</legend>
              {% for value in filter.values %}
                <label>
                  <input
                    type="checkbox"
                    name="{{ value.param_name }}"
                    value="{{ value.value }}"
                    {% if value.active %}checked{% endif %}
                  >
                  {{ value.label }}
                  <span>({{ value.count }})</span>
                </label>
              {% endfor %}
            </fieldset>
          {% endif %}
        {% endfor %}

{% when 'tag-filter' %}

  {% assign raw_allowed_tags = block.settings.custom_filter_tags | strip %}
  {% assign allowed_tags = raw_allowed_tags | downcase | split: ',' %}
  {% assign has_visible_tags = false %}

  {% for filter in collection.filters %}
    {% if filter.param_name contains '.tag' %}

      {% capture tag_items %}
        {% for value in filter.values %}
          {% assign tag_label = value.label | downcase | strip %}

          {% if raw_allowed_tags == blank or allowed_tags contains tag_label %}
            {% assign has_visible_tags = true %}

            <label>
              <input
                type="checkbox"
                name="{{ value.param_name }}"
                value="{{ value.value }}"
                {% if value.active %}checked{% endif %}
              >
              {{ value.label }}
              <span>({{ value.count }})</span>
            </label>
          {% endif %}
        {% endfor %}
      {% endcapture %}

      {% if has_visible_tags %}
        <fieldset class="filter filter--tags">
          <legend>{{ block.settings.filter_title }}</legend>
          {{ tag_items }}
        </fieldset>
      {% endif %}

    {% endif %}
  {% endfor %}



        {% when 'price-filter' %}
          {% for filter in collection.filters %}
            {% if filter.type == 'price_range' %}
              <fieldset>
                <legend>{{ block.settings.filter_title }}</legend>

                <label>
                  Min
                <input
                  type="number"
                  name="{{ filter.min_value.param_name }}"
                  value="{{ filter.min_value.value }}"
                  min="0"
                  max="{{ filter.range_max }}"
                  placeholder="{{ 0 | money_without_trailing_zeros }}"
                >
                </label>

                <label>
                  Max
                <input
                  type="number"
                  name="{{ filter.max_value.param_name }}"
                  value="{{ filter.max_value.value }}"
                  min="0"
                  max="{{ filter.range_max }}"
                  placeholder="{{ filter.range_max | money_without_trailing_zeros }}"
                >

                </label>
              </fieldset>
            {% endif %}
          {% endfor %}

{% when 'product-type-filter' %}

  {% for filter in collection.filters %}
    {% if filter.type == 'list' and filter.label == 'Product type' %}
      <fieldset class="filter filter--product-type">
        <legend>{{ block.settings.filter_title }}</legend>

        {% for value in filter.values %}
          <label>
            <input
              type="checkbox"
              name="{{ value.param_name }}"
              value="{{ value.value }}"
              {% if value.active %}checked{% endif %}
            >
            {{ value.label }}
            <span>({{ value.count }})</span>
          </label>
        {% endfor %}
      </fieldset>
    {% endif %}
  {% endfor %}


{% when 'size-filter' %}

  {% for filter in collection.filters %}
    {% if filter.type == 'list' and filter.label == block.settings.filter_title %}
      <fieldset class="filter filter--size">
        <legend>{{ block.settings.filter_title }}</legend>

        {% for value in filter.values %}
          {% assign short_label = value.label | split: '(' | last | split: ')' | first | strip %}

          <label>
            <input
              type="checkbox"
              name="{{ value.param_name }}"
              value="{{ value.value }}"
              {% if value.active %}checked{% endif %}
            >
            {{ short_label }}
            <span>({{ value.count }})</span>
          </label>
        {% endfor %}
      </fieldset>
    {% endif %}
  {% endfor %}



    {% endcase %}
  {% endfor %}

  <button type="button" id="clearFiltersBtn">Clear All</button>

</form>
