<form id="CollectionFilters" class="collection-filters">

  {% assign rendered_filters = '' %}

  {% for block in section.blocks %}
    {% case block.type %}

      {% when 'availablity-filter' %}
        {% unless rendered_filters contains 'availability' %}
          {% assign filter = collection.filters | where: 'type', 'availability' | first %}
          {% if filter %}
            {% assign rendered_filters = rendered_filters | append: 'availability,' %}
            <fieldset class="filter-group">
              <legend>Availability</legend>
              {% for value in filter.values %}
                <label>
                  <input
                    type="checkbox"
                    name="{{ value.param_name }}"
                    value="{{ value.value }}"
                    {% if value.active %}checked{% endif %}
                  >
                  {{ value.label }}
                </label>
              {% endfor %}
            </fieldset>
          {% endif %}
        {% endunless %}

      {% when 'vendor-filter' %}
        {% unless rendered_filters contains 'vendor' %}
          {% assign filter = collection.filters | where: 'type', 'vendor' | first %}
          {% if filter %}
            {% assign rendered_filters = rendered_filters | append: 'vendor,' %}
            <fieldset class="filter-group">
              <legend>Brand</legend>
              {% for value in filter.values %}
                <label>
                  <input
                    type="checkbox"
                    name="{{ value.param_name }}"
                    value="{{ value.value }}"
                    {% if value.active %}checked{% endif %}
                  >
                  {{ value.label }}
                </label>
              {% endfor %}
            </fieldset>
          {% endif %}
        {% endunless %}

      {% when 'custom-filter' %}
        {% unless rendered_filters contains 'tag' %}
          {% assign filter = collection.filters | where: 'type', 'tag' | first %}
          {% if filter %}
            {% assign rendered_filters = rendered_filters | append: 'tag,' %}
            {% assign allowed_tags = block.settings.custom_filter_tags | downcase | split: ',' %}
            <fieldset class="filter-group">
              <legend>{{ block.settings.filter_title }}</legend>
              {% for value in filter.values %}
                {% if allowed_tags contains value.label | downcase %}
                  <label>
                    <input
                      type="checkbox"
                      name="{{ value.param_name }}"
                      value="{{ value.value }}"
                      {% if value.active %}checked{% endif %}
                    >
                    {{ value.label }}
                  </label>
                {% endif %}
              {% endfor %}
            </fieldset>
          {% endif %}
        {% endunless %}

    {% endcase %}
  {% endfor %}

</form>
