<form id="CollectionFilters">

  {% for block in section.blocks %}
    {% case block.type %}

      {% when 'availablity-filter' %}
        {% for filter in collection.filters %}
          {% if filter.label == 'Availability' %}
            <fieldset>
              <legend>Availability</legend>
              {% for value in filter.values %}
                <label>
                  <input
                    type="checkbox"
                    name="{{ value.param_name }}"
                    value="{{ value.value }}"
                  >
                  {{ value.label }}
                </label>
              {% endfor %}
            </fieldset>
          {% endif %}
        {% endfor %}

      {% when 'vendor-filter' %}
        {% for filter in collection.filters %}
          {% if filter.label == 'Brand' %}
            <fieldset>
              <legend>Brand</legend>
              {% for value in filter.values %}
                <label>
                  <input
                    type="checkbox"
                    name="{{ value.param_name }}"
                    value="{{ value.value }}"
                  >
                  {{ value.label }}
                </label>
              {% endfor %}
            </fieldset>
          {% endif %}
        {% endfor %}

      {% when 'collection-filter' %}
        <fieldset>
          <legend>Collections</legend>
          {% assign menu = linklists[section.settings.collection_menu] %}
          {% for link in menu.links %}
            <label>
              <input
                type="radio"
                name="collection_handle"
                value="{{ link.object.handle }}"
              >
              {{ link.title }}
            </label>
          {% endfor %}
        </fieldset>

      {% when 'color-filter' %}
        {% for filter in collection.filters %}
          {% if filter.label == 'Color' %}
            <fieldset>
              <legend>Color</legend>
              {% for value in filter.values %}
                <label>
                  <input
                    type="checkbox"
                    name="{{ value.param_name }}"
                    value="{{ value.value }}"
                  >
                  {{ value.label }}
                </label>
              {% endfor %}
            </fieldset>
          {% endif %}
        {% endfor %}

      {% when 'custom-filter' %}
        {% for filter in collection.filters %}
          {% if filter.label contains 'Tag' %}
            {% assign allowed = block.settings.custom_filter_tags | downcase | split: ',' %}
            <fieldset>
              <legend>{{ block.settings.filter_title }}</legend>
              {% for value in filter.values %}
                {% assign tag = value.label | downcase %}
                {% if allowed contains tag %}
                  <label>
                    <input
                      type="checkbox"
                      name="{{ value.param_name }}"
                      value="{{ value.value }}"
                    >
                    {{ value.label }}
                  </label>
                {% endif %}
              {% endfor %}
            </fieldset>
          {% endif %}
        {% endfor %}

    {% endcase %}
  {% endfor %}

</form>
