<form id="CollectionFilters" method="get">

  {% for block in section.blocks %}
    {% case block.type %}

    {%- comment -%}
    ======================
    AVAILABILITY FILTER
    ======================
    {%- endcomment -%}
    {% when 'availability-filter' %}
      {% for filter in collection.filters %}
        {% if filter.type == 'availability' %}
          <fieldset>
            <legend>Availability</legend>

            {% for value in filter.values %}
              <label>
                <input
                  type="checkbox"
                  name="{{ value.param_name }}"
                  value="{{ value.value }}"
                  {% if value.active %}checked{% endif %}
                >
                {{ value.label }} <span>({{ value.count }})</span>
              </label>
            {% endfor %}
          </fieldset>
        {% endif %}
      {% endfor %}


    {%- comment -%}
    ======================
    VENDOR / BRAND FILTER
    ======================
    {%- endcomment -%}
    {% when 'vendor-filter' %}
      {% for filter in collection.filters %}
        {% if filter.type == 'list' and filter.label == 'Vendor' %}
          <fieldset>
            <legend>{{ filter.label }}</legend>

            {% for value in filter.values %}
              <label>
                <input
                  type="checkbox"
                  name="{{ value.param_name }}"
                  value="{{ value.value }}"
                  {% if value.active %}checked{% endif %}
                >
                {{ value.label }} <span>({{ value.count }})</span>
              </label>
            {% endfor %}
          </fieldset>
        {% endif %}
      {% endfor %}


    {%- comment -%}
    ======================
    COLOR FILTER (ALLOW + DISALLOW)
    ======================
    {%- endcomment -%}
    {% when 'color-filter' %}
      {% assign allow_colors = block.settings.allow_colors | downcase | split: ',' | map: 'strip' %}
      {% assign disallow_colors = block.settings.disallow_colors | downcase | split: ',' | map: 'strip' %}

      {% for filter in collection.filters %}
        {% if filter.label == 'Color' %}
          <fieldset class="filter filter--color">
            <legend>{{ block.settings.filter_title }}</legend>

            {% for value in filter.values %}
              {% assign color_value = value.label | downcase | strip %}

              {% if allow_colors != blank and allow_colors contains color_value %}
                {% unless disallow_colors contains color_value %}
                  <label class="color-filter-item">
                    <input
                      type="checkbox"
                      name="{{ value.param_name }}"
                      value="{{ value.value }}"
                      {% if value.active %}checked{% endif %}
                    >
                    <span class="color-name">{{ value.label }}</span>
                    <span>({{ value.count }})</span>
                  </label>
                {% endunless %}

              {% elsif allow_colors == blank %}
                {% unless disallow_colors contains color_value %}
                  <label class="color-filter-item">
                    <input
                      type="checkbox"
                      name="{{ value.param_name }}"
                      value="{{ value.value }}"
                      {% if value.active %}checked{% endif %}
                    >
                    <span class="color-name">{{ value.label }}</span>
                    <span>({{ value.count }})</span>
                  </label>
                {% endunless %}
              {% endif %}
            {% endfor %}
          </fieldset>
        {% endif %}
      {% endfor %}


    {%- comment -%}
    ======================
    TAG FILTER (CUSTOM ALLOW LIST)
    ======================
    {%- endcomment -%}
    {% when 'tag-filter' %}
      {% assign allowed_tags = block.settings.custom_filter_tags | downcase | split: ',' | map: 'strip' %}

      {% for filter in collection.filters %}
        {% if filter.label contains 'Tag' %}
          <fieldset>
            <legend>{{ block.settings.filter_title }}</legend>

            {% for value in filter.values %}
              {% assign tag_value = value.label | downcase | strip %}
              {% if allowed_tags contains tag_value %}
                <label>
                  <input
                    type="checkbox"
                    name="{{ value.param_name }}"
                    value="{{ value.value }}"
                    {% if value.active %}checked{% endif %}
                  >
                  {{ value.label }} <span>({{ value.count }})</span>
                </label>
              {% endif %}
            {% endfor %}
          </fieldset>
        {% endif %}
      {% endfor %}


    {%- comment -%}
    ======================
    PRICE FILTER
    ======================
    {%- endcomment -%}
    {% when 'price-filter' %}
      {% for filter in collection.filters %}
        {% if filter.type == 'price_range' %}
          <fieldset>
            <legend>{{ block.settings.filter_title }}</legend>

            <label>
              Min
              <input
                type="number"
                name="{{ filter.min_value.param_name }}"
                value="{{ filter.min_value.value }}"
                min="0"
                max="{{ filter.range_max }}"
                placeholder="{{ 0 | money_without_trailing_zeros }}"
              >
            </label>

            <label>
              Max
              <input
                type="number"
                name="{{ filter.max_value.param_name }}"
                value="{{ filter.max_value.value }}"
                min="0"
                max="{{ filter.range_max }}"
                placeholder="{{ filter.range_max | money_without_trailing_zeros }}"
              >
            </label>
          </fieldset>
        {% endif %}
      {% endfor %}


    {%- comment -%}
    ======================
    PRODUCT TYPE FILTER
    ======================
    {%- endcomment -%}
    {% when 'product-type-filter' %}
      {% for filter in collection.filters %}
        {% if filter.label == 'Product type' %}
          <fieldset>
            <legend>{{ block.settings.filter_title }}</legend>

            {% for value in filter.values %}
              <label>
                <input
                  type="checkbox"
                  name="{{ value.param_name }}"
                  value="{{ value.value }}"
                  {% if value.active %}checked{% endif %}
                >
                {{ value.label }} <span>({{ value.count }})</span>
              </label>
            {% endfor %}
          </fieldset>
        {% endif %}
      {% endfor %}


    {%- comment -%}
    ======================
    SIZE FILTER
    ======================
    {%- endcomment -%}
    {% when 'size-filter' %}
      {% for filter in collection.filters %}
        {% if filter.label == 'Size' %}
          <fieldset>
            <legend>{{ block.settings.filter_title }}</legend>

            {% for value in filter.values %}
              <label>
                <input
                  type="checkbox"
                  name="{{ value.param_name }}"
                  value="{{ value.value }}"
                  {% if value.active %}checked{% endif %}
                >
                {{ value.label }} <span>({{ value.count }})</span>
              </label>
            {% endfor %}
          </fieldset>
        {% endif %}
      {% endfor %}

    {% endcase %}
  {% endfor %}

  <a href="{{ collection.url }}" id="clearFiltersBtn">Clear All</a>

</form>
