<form id="CollectionFilters">

  {% for block in section.blocks %}
    {% case block.type %}

      {% when 'availablity-filter' %}
        {% for filter in collection.filters %}
          {% if filter.label == 'Availability' %}
            <fieldset>
              <legend>Availability</legend>
              {% for value in filter.values %}
                <label>
                  <input
                    type="checkbox"
                    name="{{ value.param_name }}"
                    value="{{ value.value }}"
                    {% if value.active %}checked{% endif %}
                  >
                  {{ value.label }}
                  <span>({{ value.count }})</span>
                </label>
              {% endfor %}
            </fieldset>
          {% endif %}
        {% endfor %}

      {% when 'vendor-filter' %}
        {% for filter in collection.filters %}
          {% if filter.label == 'Brand' or filter.label == 'Vendor' %}
            <fieldset>
              <legend>{{ filter.label }}</legend>
              {% for value in filter.values %}
                <label>
                  <input
                    type="checkbox"
                    name="{{ value.param_name }}"
                    value="{{ value.value }}"
                    {% if value.active %}checked{% endif %}
                  >
                  {{ value.label }}
                  <span>({{ value.count }})</span>
                </label>
              {% endfor %}
            </fieldset>
          {% endif %}
        {% endfor %}

      {% when 'collection-filter' %}
        <fieldset>
          <legend>Collections</legend>
          {% assign menu = linklists[block.settings.collection_menu] %}
          {% if menu.links.size > 0 %}
            {% for link in menu.links %}
              {% assign handle = link.object.handle %}
              <label>
                <input
                  type="radio"
                  name="collection_handle"
                  value="{{ handle }}"
                >
                {{ link.title }}
              </label>
            {% endfor %}
            <label>
              <input type="radio" name="collection_handle" value="" checked>
              All
            </label>
          {% else %}
            <p>No menu selected.</p>
          {% endif %}
        </fieldset>

      {% when 'color-filter' %}
        {% for filter in collection.filters %}
          {% if filter.label == 'Color' %}
            <fieldset>
              <legend>Color</legend>
              {% for value in filter.values %}
                <label>
                  <input
                    type="checkbox"
                    name="{{ value.param_name }}"
                    value="{{ value.value }}"
                    {% if value.active %}checked{% endif %}
                  >
                  {{ value.label }}
                  <span>({{ value.count }})</span>
                </label>
              {% endfor %}
            </fieldset>
          {% endif %}
        {% endfor %}

{% when 'tag-filter' %}

  {% assign allowed_tags = block.settings.custom_filter_tags
    | downcase
    | split: ','
  %}

  {% for filter in collection.filters %}
    {% if filter.param_name contains '.tag' %}
      <fieldset class="filter filter--tags">
        <legend>{{ block.settings.filter_title }}</legend>

        {% for value in filter.values %}
          {% assign tag_label = value.label | downcase | strip %}

          {% if allowed_tags contains tag_label %}
            <label>
              <input
                type="checkbox"
                name="{{ value.param_name }}"
                value="{{ value.value }}"
                {% if value.active %}checked{% endif %}
              >
              {{ value.label }}
              <span>({{ value.count }})</span>
            </label>
          {% endif %}
        {% endfor %}
      </fieldset>
    {% endif %}
  {% endfor %}


        {% when 'price-filter' %}
          {% for filter in collection.filters %}
            {% if filter.type == 'price_range' %}
              <fieldset>
                <legend>{{ block.settings.filter_title }}</legend>

                <label>
                  Min
                <input
                  type="number"
                  name="{{ filter.min_value.param_name }}"
                  value="{{ filter.min_value.value }}"
                  min="0"
                  max="{{ filter.range_max }}"
                  placeholder="{{ 0 | money_without_trailing_zeros }}"
                >
                </label>

                <label>
                  Max
                <input
                  type="number"
                  name="{{ filter.max_value.param_name }}"
                  value="{{ filter.max_value.value }}"
                  min="0"
                  max="{{ filter.range_max }}"
                  placeholder="{{ filter.range_max | money_without_trailing_zeros }}"
                >

                </label>
              </fieldset>
            {% endif %}
          {% endfor %}


      {% when 'product-type-filter' %}
        {% assign types = block.settings.product_types | split: ',' %}
        <fieldset>
          <legend>{{ block.settings.filter_title }}</legend>
          {% for type in types %}
            {% assign clean_type = type | strip %}
            {% if clean_type != blank %}
              <label>
                <input
                  type="checkbox"
                  name="filter.p.product_type"
                  value="{{ clean_type }}"
                >
                {{ clean_type }}
              </label>
            {% endif %}
          {% endfor %}
        </fieldset>

{% when 'size-filter' %}

  {% assign allowed_sizes_raw = block.settings.sizes | strip %}
  {% if allowed_sizes_raw != blank %}
    {% assign allowed_sizes = allowed_sizes_raw | downcase | split: ',' | map: 'strip' %}
  {% endif %}

  {% for filter in collection.filters %}
    {% if filter.type == 'list' and filter.param_name contains 'option.size' %}

      <fieldset class="filter filter--size">
        <legend>{{ block.settings.filter_title }}</legend>

        {% for value in filter.values %}
          {% assign value_normalized = value.value | downcase | strip %}

          {% if allowed_sizes_raw == blank or allowed_sizes contains value_normalized %}
            <label>
              <input
                type="checkbox"
                name="{{ value.param_name }}"
                value="{{ value.value }}"
                {% if value.active %}checked{% endif %}
              >
              {{ value.label }}
              <span>({{ value.count }})</span>
            </label>
          {% endif %}
        {% endfor %}

      </fieldset>

    {% endif %}
  {% endfor %}


    {% endcase %}
  {% endfor %}

  <button type="button" id="clearFiltersBtn">Clear All</button>

</form>
