<form id="CollectionFilters" class="collection-filters">

  {% for block in section.blocks %}

    {% case block.type %}

      {% when 'availablity-filter' %}
        {% assign filter = collection.filters | where: 'type', 'availability' | first %}
        {% if filter %}
          <fieldset class="filter-group">
            <legend>{{ filter.label }}</legend>
            {% for value in filter.values %}
              <label>
                <input
                  type="checkbox"
                  name="{{ value.param_name }}"
                  value="{{ value.value }}"
                  {% if value.active %}checked{% endif %}
                >
                {{ value.label }}
              </label>
            {% endfor %}
          </fieldset>
        {% endif %}

      {% when 'vendor-filter' %}
        {% assign filter = collection.filters | where: 'type', 'vendor' | first %}
        {% if filter %}
          <fieldset class="filter-group">
            <legend>{{ filter.label }}</legend>
            {% for value in filter.values %}
              <label>
                <input
                  type="checkbox"
                  name="{{ value.param_name }}"
                  value="{{ value.value }}"
                  {% if value.active %}checked{% endif %}
                >
                {{ value.label }}
              </label>
            {% endfor %}
          </fieldset>
        {% endif %}

      {% when 'collection-filter' %}
        {% assign filter = collection.filters | where: 'type', 'product_type' | first %}
        {% if filter %}
          <fieldset class="filter-group">
            <legend>{{ filter.label }}</legend>
            {% for value in filter.values %}
              <label>
                <input
                  type="checkbox"
                  name="{{ value.param_name }}"
                  value="{{ value.value }}"
                  {% if value.active %}checked{% endif %}
                >
                {{ value.label }}
              </label>
            {% endfor %}
          </fieldset>
        {% endif %}

      {% when 'color-filter' %}
        {% assign filter = collection.filters | where: 'label', 'Color' | first %}
        {% if filter %}
          <fieldset class="filter-group">
            <legend>{{ filter.label }}</legend>
            {% for value in filter.values %}
              <label>
                <input
                  type="checkbox"
                  name="{{ value.param_name }}"
                  value="{{ value.value }}"
                  {% if value.active %}checked{% endif %}
                >
                {{ value.label }}
              </label>
            {% endfor %}
          </fieldset>
        {% endif %}

      {% when 'custom-filter' %}
        {% assign filter = collection.filters | where: 'type', 'tag' | first %}
        {% if filter %}
          <fieldset class="filter-group">
            <legend>{{ block.settings.filter_title }}</legend>
            {% assign allowed_tags = block.settings.custom_filter_tags | split: ',' %}
            {% for value in filter.values %}
              {% if allowed_tags contains value.label %}
                <label>
                  <input
                    type="checkbox"
                    name="{{ value.param_name }}"
                    value="{{ value.value }}"
                    {% if value.active %}checked{% endif %}
                  >
                  {{ value.label }}
                </label>
              {% endif %}
            {% endfor %}
          </fieldset>
        {% endif %}

    {% endcase %}

  {% endfor %}

</form>
