<form id="CollectionFilters" class="collection-filters">

  {% for block in section.blocks %}
    {% case block.type %}

      {% when 'availablity-filter' %}
        <fieldset class="filter-group">
          <legend>Availability</legend>
          <label>
            <input
              type="checkbox"
              data-filter-type="availability"
              value="in-stock"
            >
            In stock
          </label>
        </fieldset>

      {% when 'collection-filter' %}
        <fieldset class="filter-group">
          <legend>Collections</legend>
          {% for c in collections %}
            <label>
              <input
                type="checkbox"
                data-filter-type="collection"
                value="{{ c.title | downcase }}"
              >
              {{ c.title }}
            </label>
          {% endfor %}
        </fieldset>

      {% when 'vendor-filter' %}
        <fieldset class="filter-group">
          <legend>Brand</legend>
          {% for vendor in collection.all_vendors %}
            <label>
              <input
                type="checkbox"
                data-filter-type="vendor"
                value="{{ vendor | downcase }}"
              >
              {{ vendor }}
            </label>
          {% endfor %}
        </fieldset>

      {% when 'color-filter' %}
        <fieldset class="filter-group">
          <legend>Color</legend>
          {% assign colors = 'black,white,red,blue,green' | split: ',' %}
          {% for color in colors %}
            <label>
              <input
                type="checkbox"
                data-filter-type="tag"
                value="{{ color | downcase }}"
              >
              {{ color | capitalize }}
            </label>
          {% endfor %}
        </fieldset>

      {% when 'custom-filter' %}
        <fieldset class="filter-group">
          <legend>{{ block.settings.filter_title }}</legend>
          {% assign tags = block.settings.custom_filter_tags | split: ',' %}
          {% for tag in tags %}
            <label>
              <input
                type="checkbox"
                data-filter-type="tag"
                value="{{ tag | strip | downcase }}"
              >
              {{ tag | strip }}
            </label>
          {% endfor %}
        </fieldset>

    {% endcase %}
  {% endfor %}

</form>
