{{ 'user-signup.css' | asset_url | stylesheet_tag: preload: true }}
<div class="customer-auth-layout">
  {% if customer %}

    <!-- LOGGED IN -->
  <div class="customer-logged-in">
    <h4 class="sub-title">Welcome, {{ customer.first_name }}</h4>

    <ul class="account-links linklist-hover-underline">
      <li>
        <a href="{{ routes.account_url }}">
          <span class="icon">{%- render 'theme-icon', icon: 'account' -%}</span>
          <span class="text">Account</span>
        </a>
      </li>

      {% if customer.orders.size > 0 %}
        <li>
          <a href="{{ customer.orders.first.customer_url }}">
            <span class="icon">{%- render 'theme-icon', icon: 'percel' -%}</span>
            <span class="text">Latest order</span>
          </a>
        </li>
      {% else %}
        <li>
          <a href="{{ routes.account_url }}">
            <span class="icon">{%- render 'theme-icon', icon: 'percel' -%}</span>
            <span class="text">Orders</span>
          </a>
        </li>
      {% endif %}

      <li><a href="{{ routes.account_addresses_url }}">
          <span class="icon">{%- render 'theme-icon', icon: 'map' -%}</span>
          <span class="text">Addresses</span>
      </a>
      </li>
      <li>
        <a href="{{ routes.account_login_url }}#recover">
          <span class="icon">{%- render 'theme-icon', icon: 'reset-password' -%}</span>
          <span class="text">Reset password</span>
        </a>
      </li>
      <li>
        <a href="/pages/contact">
          <span class="icon">{%- render 'theme-icon', icon: 'support' -%}</span>
          <span class="text">Account Support</span>
        </a>
      </li>
      <li>
        <a href="{{ routes.account_logout_url }}">
          <span class="icon">{%- render 'theme-icon', icon: 'logout' -%}</span>
          <span class="text">Logout</span>
        </a>
      </li>
    </ul>
  </div>


  {% else %}

    <!-- LOGIN FORM -->
    <div class="user-login" data-login-form>
      <h4 class="sub-title">Login</h4>

      {% form 'customer_login' %}
        {{ form.errors | default_errors }}

        <input type="email" name="customer[email]" placeholder="Email" required>
        <input type="password" name="customer[password]" placeholder="Password" required>

        <button type="submit" class="btn btn--small">
          <span class="text">Sign in</span>
          <span class="icon">{%- render 'theme-icon', icon: 'right-arrow' -%}</span>
        </button>

        <p>
          <a class="forgot-password-link" href="#" data-show-recover>
            Forgot your password?
          </a>
        </p>
      {% endform %}
    </div>

    <!-- RECOVER PASSWORD FORM -->
    <div class="user-recover-password" data-recover-form style="display:none;">
      <h4 class="sub-title">Reset your password</h4>

      {% form 'recover_customer_password' %}
        {{ form.errors | default_errors }}

        {% if form.posted_successfully? %}
          <p class="success-message">
            We’ve sent you an email with a link to reset your password.
          </p>
        {% else %}
          <input
            type="email"
            name="email"
            placeholder="Email address"
            required
          >

          <button type="submit" class="btn btn--small">
            Send reset link
          </button>

          <p>
            <a class="back-login-link" href="#" data-hide-recover>
              Back to login
            </a>
          </p>
        {% endif %}
      {% endform %}
    </div>

    <!-- REGISTER FORM -->
    <div class="user-create-account">
      <h4 class="sub-title">Create account</h4>

      {% form 'create_customer' %}
        {{ form.errors | default_errors }}

        <input type="text" name="customer[first_name]" placeholder="First name" required>
        <input type="text" name="customer[last_name]" placeholder="Last name" required>
        <input type="email" name="customer[email]" placeholder="Email" required>
        <input type="password" name="customer[password]" placeholder="Password" required>

        <button type="submit" class="btn btn--small">
          <span class="text">Create account</span>
          <span class="icon">{%- render 'theme-icon', icon: 'right-arrow' -%}</span>
        </button>
      {% endform %}
    </div>

  {% endif %}

</div>
<script>
    document.addEventListener("click", function (e) {
  if (e.target.matches("[data-show-recover]")) {
    e.preventDefault();
    document.querySelector("[data-login-form]").style.display = "none";
    document.querySelector("[data-recover-form]").style.display = "block";
  }

  if (e.target.matches("[data-hide-recover]")) {
    e.preventDefault();
    document.querySelector("[data-recover-form]").style.display = "none";
    document.querySelector("[data-login-form]").style.display = "block";
  }
});
</script>