{% doc %}
  Responsive Video Snippet

  @param {video} [video] - Shopify hosted video object
  @param {string} [external_video_url] - YouTube or Vimeo URL
  @param {string} [class] - Custom wrapper class
  @param {string} [style] - Inline wrapper style
  @param {string} [custom_thumbnail] - Thumbnail Image
  @param {boolean} [autoplay]
  @param {boolean} [loop]
  @param {boolean} [muted]
  @param {boolean} [controls]

  @example
  {% render 'video', video: section.settings.video %}
  {% render 'video', external_video_url: block.settings.video_url %}
{% enddoc %}
{% liquid
  assign wrapper_style = style | default: ''
  assign is_autoplay = autoplay | default: false

  if is_autoplay
    assign muted = true
  endif

  if custom_thumbnail != blank
    assign poster_image = custom_thumbnail | image_url: width: 2000
  else
    assign poster_image = video.preview_image | image_url: width: 2000
  endif
%}

<div
  class="video {{ class }}"
  {% if wrapper_style != blank %}
    style="{{ wrapper_style }}"
  {% endif %}
>

  {% if video %}

    <video
      {% if poster_image %}poster="{{ poster_image }}"{% endif %}
      {% if is_autoplay %}autoplay{% endif %}
      {% if loop %}loop{% endif %}
      {% if muted %}muted{% endif %}
      {% if controls %}controls{% endif %}
      playsinline
    >
    {% for source in video.sources %}
    <source src="{{ source.url }}" type="{{ source.mime_type }}">
    {% endfor %}

    </video>

  {% elsif external_video_url != blank %}

    {% if external_video_url contains 'youtube.com' or external_video_url contains 'youtu.be' %}
      {% assign video_id = external_video_url | split: 'v=' | last | split: '&' | first %}
      <iframe
        src="https://www.youtube.com/embed/{{ video_id }}?playsinline=1{% if is_autoplay %}&autoplay=1&mute=1{% endif %}"
        frameborder="0"
        allow="autoplay; encrypted-media"
        allowfullscreen
      ></iframe>

    {% elsif external_video_url contains 'vimeo.com' %}
      {% assign video_id = external_video_url | split: '/' | last %}
      <iframe
        src="https://player.vimeo.com/video/{{ video_id }}{% if is_autoplay %}?autoplay=1&muted=1{% endif %}"
        frameborder="0"
        allow="autoplay; fullscreen"
        allowfullscreen
      ></iframe>
    {% endif %}

  {% endif %}

</div>

