{% comment %}
  This section is used in the 404 template to render page shown when customers
  enter an invalid store URL.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/404
{% endcomment %}
{% liquid
  assign first_class = 'not-found ' | append: 'm-color-' | append: section.settings.color_scheme 
  assign first_class = first_class | append: ' ' | append: section.settings.color_control
  assign first_class = first_class | append: ' ' | append: section.settings.custom_class
%}
<div class="{{ first_class }}">
  <div class="container-narrow">
    <div class="inner-not-found sidebar-space">
      <div class="animated-text">
        <div class="animated-404 h1" title="404">404</div>
      </div>
      <h2 class="not-found-text h3">{{ '404.not_found' | t }}</h2>
      <div class="text">{{ section.settings.text }}</div>
      <a class="back-to-shopping" href="{{ routes.all_products_collection_url }}">
        {{ '404.back_to_shopping' | t }}
      </a>
    </div>
  </div>



      <div class="not-found-background">
        {% if section.settings.background_image %}
          {{ section.settings.background_image
            | image_url: width: 2000
            | image_tag: class: 'background-image', loading: 'lazy' }}
        {% endif %}
      </div>

    {% if section.settings.overlay_enable %}
      <div class="not-found-overlay" aria-hidden="true"></div>
    {% endif %}
</div>

{% stylesheet %}
.not-found {
    padding: 6rem 0 4rem 0;
}
.inner-not-found {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.not-found-text{
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.back-to-shopping {
  margin-top: 1rem;
    background: rgb(var(--color-heading));
    color: rgb(var(--color-background));
    border: 1px solid rgb(var(--color-heading));
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.back-to-shopping:hover {
    background: transparent;
    color: rgb(var(--color-heading));
}




.animated-404{
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.animated-404:before,
.animated-404:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.animated-404:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.animated-404:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.404",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Apologies, but the page you requested could not be found. Perhaps you can return back to the site's homepage and see if you can find what you are looking for.</p>"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "custom class"

    },
    {
      "type": "select",
      "id": "color_control",
      "label": "Color Control",
      "info": "These settings control the color of the sidebar text. If you select Dark, it will be a light shade of the sidebar text/icon color, and if you select Light, it will be a dark shade of the sidebar text/icon color.",
      "options": [
        { "value": "section-dark", "label": "Dark" },
        { "value": "section-light", "label": "Light" }
      ],
      "default": "section-light"
    },
  ]
}
{% endschema %}
