{% comment %}
  This section is used in the 404 template to render page shown when customers
  enter an invalid store URL.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/404
{% endcomment %}
{% liquid
  assign first_class = 'not-found ' | append: 'm-color-' | append: section.settings.color_scheme 
  assign first_class = first_class | append: ' ' | append: section.settings.color_control
  assign first_class = first_class | append: ' ' | append: section.settings.custom_class

  assign container_width = section.settings.container_width

  assign image_wapper_classes = ''
  unless section.settings.aspect_ratio == 'adapt-to-image'
    assign image_wapper_classes = image_wapper_classes | append: 'cropped-image-wrapper'
    assign image_wapper_classes = image_wapper_classes | append :' ' | append : section.settings.aspect_ratio
  endunless
  assign image_wapper_classes = image_wapper_classes | append :' ' | append : section.settings.hover_effect_action
%}
<div class="{{ first_class }}">
  <div class="{{ container_width }}">
    <div class="inner-not-found sidebar-space">
      <div class="animated-text">
        <div title="404">404</div>
      </div>
      <h1>{{ '404.title' | t }}</h1>
      <p>{{ '404.not_found' | t }}</p>
    </div>
  </div>
</div>

{% stylesheet %}
.not-found {
    padding: 6rem 0 4rem 0;
}
.not-found .title-wrapper h2 {
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.collection-card__content p{
  padding: 0.5rem;
}
{% endstylesheet %}
<h1>{{ '404.title' | t }}</h1>

<p>
  {{ '404.not_found' | t }}
</p>

<a href="{{ routes.all_products_collection_url }}">
  {{ '404.back_to_shopping' | t }}
</a>

{% schema %}
{
  "name": "t:general.404",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "custom class"

    },
    {
      "type": "select",
      "id": "color_control",
      "label": "Color Control",
      "info": "These settings control the color of the sidebar text. If you select Dark, it will be a light shade of the sidebar text/icon color, and if you select Light, it will be a dark shade of the sidebar text/icon color.",
      "options": [
        { "value": "section-dark", "label": "Dark" },
        { "value": "section-light", "label": "Light" }
      ],
      "default": "section-light"
    },
  ]
}
{% endschema %}
