{{ 'collection-product-list.css' | asset_url | stylesheet_tag }}
{{ 'products-filter.css' | asset_url | stylesheet_tag }}

<div
  class="main-product-list m-color-{{ section.settings.product_color_scheme }} {{ section.settings.color_control }} {{ section.settings.custom_class }}"
  data-section-id="{{ section.id }}"
  data-enable-pagination="{{ section.settings.enable_pagination }}"
  data-pagination-type="{{ section.settings.pagination_type }}"
  data-products-per-page="{{ section.settings.products_per_page }}"
>

  <div class="{{ section.settings.container_type }}">
    <h2 class="sidebar-space">{{ collection.title }}</h2>
    <div class="collection-wrapper sidebar-space">
      <main class="inner-warpper">
        
        <div class="product-list">

          <!-- Products -->
          {% paginate collection.products by section.settings.products_per_page %}
            <div
              class="products-grid cols-{{ section.settings.grid_columns_desktop }}"
              id="productsContainer"
              data-total-products="{{ collection.products_count }}"
              data-total-pages="{{ paginate.pages }}"
              data-current-page="{{ paginate.current_page }}"
            >
              {% for product in collection.products %}
                {% render 'product-card', product: product %}
              {% endfor %}
            </div>
          {% endpaginate %}

        <!-- Pagination UI -->
        {% if section.settings.enable_pagination %}
          <div id="paginationWrapper" class="custom-pagination">

            {% if section.settings.pagination_type == 'pagination_by_number' %}
              <nav class="pagination-ui pagination-ui--numbers">
                <!-- JS will inject buttons here -->
                <div class="pagination-numbers" data-pagination-numbers></div>
              </nav>
            {% elsif section.settings.pagination_type == 'load_more_button' %}
              <div class="pagination-ui pagination-ui--loadmore">
                <button type="button" id="loadMoreBtn" class="load-more-btn">
                  Load More
                </button>

                <div class="pagination-loader" data-loader hidden>
                  Loading...
                </div>
              </div>
            {% elsif section.settings.pagination_type == 'infinity_loading' %}
              <div class="pagination-ui pagination-ui--infinity">
                <div class="pagination-loader" data-loader hidden>
                  Loading...
                </div>
              </div>
            {% endif %}

          </div>
        {% endif %}

        </div>

        <!-- Filters -->
        <div class="product-filter">
          <div class="filter-actions-bar">
            <button type="button" class="filter-toggle-btn" data-action="filter">
              <span class="label">Filter</span>
              <span class="icon">{%- render 'theme-icon', icon: 'filter-toggle' -%}</span>
            </button>

            <button type="button" class="filter-toggle-btn hide-tablet hide-mobile hide-tablet-landscape" data-action="sort">
              <span class="label">Sort</span>
              <span class="icon">{%- render 'theme-icon', icon: 'sort' -%}</span>
            
            </button>
          </div>
          <div class="inner-filter">
            {% render 'product-filter', section: section, collection: collection %}
          </div>
        </div>

      </main>

    </div>
  </div>
</div>
<script src="{{ 'product-filter.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Collection Product List",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "container_type",
      "label": "Container Type",
      "options": [
        { "value": "container", "label": "Container" },
        { "value": "container-fluid", "label": "Container Fluid" },
        { "value": "container-narrow", "label": "Container Narrow" },
        { "value": "container-extra-narrow", "label": "Container Extra Narrow" },
        { "value": "full-width", "label": "Full Width"}
      ],
      "default": "container"
    },
    {
      "type": "color_scheme",
      "id": "product_color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Product Grid"
    },
    {
      "type": "select",
      "id": "grid_columns_desktop",
      "label": "Desktop Grid Columns",
      "options": [
        { "value": "2", "label": "2" },
        { "value": "3", "label": "3" },
        { "value": "4", "label": "4" },
        { "value": "5", "label": "5" },
        { "value": "6", "label": "6" }
      ],
      "default": "4"
    },
    {
      "type": "header",
      "content": "Pagination"
    },
    {
      "type": "checkbox",
      "id": "enable_pagination",
      "label": "Enable Pagination",
      "default": true
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 2,
      "max": 48,
      "step": 1,
      "label": "Products per page",
      "default": 24
    },
    {
      "type": "select",
      "id": "pagination_type",
      "label": "Pagination Type",
      "options": [
        { "value": "pagination_by_number", "label": "Pagination by Number" },
        { "value": "load_more_button", "label": "Load More Button" },
        { "value": "infinity_loading", "label": "Infinity Loading" }
      ],
      "default": "pagination_by_number"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom class"
    },
    {
      "type": "select",
      "id": "color_control",
      "label": "Color Control",
      "options": [
        { "value": "section-dark", "label": "Dark" },
        { "value": "section-light", "label": "Light" }
      ],
      "default": "section-light"
    }
  ],
  "blocks": [
    {
      "type": "availablity-filter",
      "name": "Availability Filter",
      "limit": 1
    },
    {
      "type": "collection-filter",
      "name": "Collection Filter (Menu)",
      "limit": 1,
      "settings": [
        {
          "type": "link_list",
          "id": "collection_menu",
          "label": "Collection Menu"
        }
      ]
    },
    {
      "type": "vendor-filter",
      "name": "Vendor Filter",
      "limit": 1
    },
{
  "type": "color-filter",
  "name": "Color Filter",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "filter_title",
      "label": "Title",
      "default": "Color"
    },
    {
      "type": "text",
      "id": "allow_colors",
      "label": "Custom Colors (Allow)",
      "info": "Comma separated values. If filled, only these colors will show."
    },
    {
      "type": "text",
      "id": "disallow_colors",
      "label": "Disallow Colors",
      "info": "Comma separated values. These colors will be hidden."
    }
  ]
},

    {
      "type": "tag-filter",
      "name": "Tag Filter",
      "settings": [
        {
          "type": "text",
          "id": "filter_title",
          "label": "Title",
          "default": "Tags"
        },
        {
          "type": "text",
          "id": "custom_filter_tags",
          "label": "Allowed Tags",
          "info": "Comma separated tags (example: Summer, Winter, New)."
        }
      ]
    },
    {
      "type": "price-filter",
      "name": "Price Filter",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "filter_title",
          "label": "Title",
          "default": "Price"
        }
      ]
    },
    {
      "type": "product-type-filter",
      "name": "Product Type Filter",
      "settings": [
        {
          "type": "text",
          "id": "filter_title",
          "label": "Title",
          "default": "Product Type"
        }
      ]
    },
    {
      "type": "size-filter",
      "name": "Size Filter",
      "settings": [
        {
          "type": "text",
          "id": "filter_title",
          "label": "Title",
          "default": "Size"
        }
      ]
    },
    {
      "type": "sort-filter",
      "name": "Sort Filter",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "filter_title",
          "label": "Title",
          "default": "Sort By"
        }
      ]
    }
  ]
}
{% endschema %}
