{{ 'collection-product-list.css' | asset_url | stylesheet_tag }}
{{ 'products-filter.css' | asset_url | stylesheet_tag }}


<div class="shopify-section m-color-{{ section.settings.color_scheme.id }}">
  <div class="{{ section.settings.container_type }}">
    <div class="collection-wrapper">
      <!-- Filters Sidebar -->

      <!-- Main Content -->
      <main class="product-list-wapper" data-pagination-type="{{ section.settings.pagination_type }}">

        <!-- Products Grid -->
        <div class="products-grid grid-desktop-{{ section.settings.grid_columns_desktop }} grid-mobile-{{ section.settings.grid_columns_mobile }}" id="productsContainer">

        </div>
        <div class="product-filter">
        {% if section.settings.enable_filter %}
          {% render 'products-filter' %}
        {% endif %}
        </div>
      </main>
    </div>
  </div>
</div>


<script src="{{ 'products-filter.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'pagination.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Collection Product List",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "container_type",
      "label": "Container Type",
      "options": [
        {
          "value": "container",
          "label": "Container"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "container-narrow",
          "label": "Container Narrow"
        },
        {
          "value": "container-extra-narrow",
          "label": "Container Extra Narrow"
        },
        {
          "value": "full-width",
          "label": "Full Width"
        }
      ],
      "default": "container"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Product Grid"
    },
    {
      "type": "select",
      "id": "grid_columns_desktop",
      "label": "Desktop Grid Columns",
      "options": [
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        }
      ],
      "default": "4"
    },
    {
      "type": "select",
      "id": "grid_columns_mobile",
      "label": "Mobile Grid Columns",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "2"
    },
    {
      "type": "header",
      "content": "Pagination"
    },
    {
      "type": "checkbox",
      "id": "enable_pagination",
      "label": "Enable Pagination",
      "default": true
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 2,
      "max": 48,
      "step": 1,
      "label": "Products per page",
      "default": 24
    },
    {
      "type": "select",
      "id": "pagination_type",
      "label": "Pagination Type",
      "options": [
        {
          "value": "pagination_by_number",
          "label": "Pagination by Number"
        },
        {
          "value": "load_more_button",
          "label": "Load More Button"
        },
        {
          "value": "infinity_loading",
          "label": "Infinity Loading"
        }
      ],
      "default": "pagination_by_number"
    },
    {
      "type": "header",
      "content": "Sorting & Filter"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "label": "Enable Sorting",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_filter",
      "label": "Enable Filter",
      "default": true
    },
    {
      "type": "header",
      "content": "Filter Settings"
    },
    {
      "type": "checkbox",
      "id": "enable_availability",
      "label": "Enable Availability Filter",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_price",
      "label": "Enable Price Filter",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_collection",
      "label": "Enable Collection Filter",
      "default": true
    },
    {
      "type": "text",
      "id": "specific_collections",
      "label": "Specific Collections",
      "info": "Enter collection handles separated by commas. Leave empty to show all collections."
    },
    {
      "type": "checkbox",
      "id": "enable_brand",
      "label": "Enable Brand Filter",
      "default": true
    },
    {
      "type": "text",
      "id": "specific_brands",
      "label": "Specific Brands",
      "info": "Enter brand names separated by commas. Leave empty to show all brands."
    },
    {
      "type": "checkbox",
      "id": "enable_color",
      "label": "Enable Color Filter",
      "default": true
    },
    {
      "type": "text",
      "id": "specific_colors",
      "label": "specific Colors",
      "info": "Enter color names separated by commas. Leave empty to show all colors."
    },
    {
      "type": "header",
      "content": "Custom Filters"
    },
    {
      "type": "checkbox",
      "id": "enable_custom_filter_1",
      "label": "Enable Custom Filter 1",
      "default": false
    },
    {
      "type": "text",
      "id": "custom_filter_1_title",
      "label": "Filter 1 Title"
    },
    {
      "type": "text",
      "id": "custom_filter_1_tags",
      "label": "Filter 1 Product Tags",
      "info": "Enter product tags separated by commas."
    },
    {
      "type": "checkbox",
      "id": "enable_custom_filter_2",
      "label": "Enable Custom Filter 2",
      "default": false
    },
    {
      "type": "text",
      "id": "custom_filter_2_title",
      "label": "Filter 2 Title"
    },
    {
      "type": "text",
      "id": "custom_filter_2_tags",
      "label": "Filter 2 Product Tags",
      "info": "Enter product tags separated by commas."
    },
    {
      "type": "checkbox",
      "id": "enable_custom_filter_3",
      "label": "Enable Custom Filter 3",
      "default": false
    },
    {
      "type": "text",
      "id": "custom_filter_3_title",
      "label": "Filter 3 Title"
    },
    {
      "type": "text",
      "id": "custom_filter_3_tags",
      "label": "Filter 3 Product Tags",
      "info": "Enter product tags separated by commas."
    }
  ]
}
{% endschema %}