{% liquid
  assign first_class = 'collections-list ' | append: 'm-color-' | append: section.settings.color_scheme 
  assign first_class = first_class | append: ' ' | append: section.settings.color_control
  assign first_class = first_class | append: ' ' | append: section.settings.custom_class

  assign container_width = section.settings.container_width

  assign image_wapper_classes = ''
  unless section.settings.aspect_ratio == 'adapt-to-image'
    assign image_wapper_classes = image_wapper_classes | append: 'cropped-image-wrapper'
    assign image_wapper_classes = image_wapper_classes | append :' ' | append : section.settings.aspect_ratio
  endunless
  assign image_wapper_classes = image_wapper_classes | append :' ' | append : section.settings.hover_effect_action
%}
<div class="{{ first_class }}">
  <div class="{{ container_width }}">
    <div class="title-wrapper sidebar-space">
      <h2 class="h2">{{ 'collections.title' | t }}</h2>
    </div>
    
    <div class="inner-collections-list sidebar-space">
    <div
      class="collections {{ section.settings.grid_item_width }}"
      style="--grid-gap: {{ section.settings.grid_gap }}px"
    >
      {% for collection in collections %}
        <a class="collection-card" href="{{ collection.url }}">
          {% if collection.featured_image %}
            {% render 'image',
              image: collection.featured_image,
              class: image_wapper_classes
              img_alt: collection.title
            %}
          {% endif %}

          <div class="collection-card__content">
            <p>{{ collection.title }}</p>

            {% if collection.description %}
              <p>{{ collection.description | strip_html | truncatewords: 15 }}</p>
            {% endif %}
          </div>
        </a>
      {% endfor %}
    </div>
    </div>
  </div>
</div>

{% stylesheet %}
  .collections {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(var(--collection-card-size), 100%), 1fr));
    gap: var(--grid-gap);
  }
  .collections--compact {
    --collection-card-size: 160px;
  }
  .collections--full {
    --collection-card-size: 280px;
  }
  .collection-card {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.collections_grid",
  "disabled_on": {"groups": ["header", "footer"]},
  "settings": [
    {
      "type": "select",
      "id": "container_width",
      "label": "Container width",
      "options": [
        { "value": "container", "label": "Container" },
        { "value": "container-fluid", "label": "Container fluid" },
        { "value": "container-narrow", "label": "Container narrow" },
        { "value": "container-extra-narrow", "label": "Container extra narrow" },
        { "value": "full-width", "label": "Full width" }
      ],
      "default": "container"
    },
    {
      "type": "select",
      "id": "grid_item_width",
      "label": "t:labels.grid_item_width",
      "options": [
        { "value": "collections--compact", "label": "t:options.size.small" },
        { "value": "collections--full", "label": "t:options.size.large" }
      ],
      "default": "collections--full"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "range",
      "id": "grid_gap",
      "label": "t:labels.grid_gap",
      "min": 0,
      "max": 50,
      "step": 5,
      "unit": "px",
      "default": 10
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "label": "Aspect Ratio",
      "options": [
        { "value": "adapt-to-image", "label": "Adapt to image" },
        { "value": "cropped-image--square", "label": "Square" },
        { "value": "cropped-image--portrait", "label": "Portrait" },
        { "value": "cropped-image--portrait-tall", "label": "Portrait-tall" },
        { "value": "cropped-image--landscape", "label": "Landscape" },
        { "value": "cropped-image--wide", "label": "Wide" }
      ],
      "default": "cropped-image--square"
    },
      {
      "type": "select",
      "id": "hover_effect_action",
      "label": "Image Hover Effect",
      "options": [
        { "value": "no-effect", "label": "No effect" },
        { "value": "is-hover-zoom-in", "label": "Zoom in" },
        { "value": "is-hover-zoom-out", "label": "Zoom out" },
        { "value": "is-hover-zoom-up", "label": "Zoom up" },
        { "value": "is-hover-fade", "label": "Fade" },
        { "value": "is-hover-cinematic", "label": "Cinematic" },
        { "value": "is-hover-drift", "label": "Drift" },
        { "value": "is-hover-overlay", "label": "Overlay" }
      ],
      "default": "no-effect"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "custom class"

    },
    {
      "type": "select",
      "id": "color_control",
      "label": "Color Control",
      "info": "These settings control the color of the sidebar text. If you select Dark, it will be a light shade of the sidebar text/icon color, and if you select Light, it will be a dark shade of the sidebar text/icon color.",
      "options": [
        { "value": "section-dark", "label": "Dark" },
        { "value": "section-light", "label": "Light" }
      ],
      "default": "section-light"
    },
  ],
  "presets": [{ "name": "t:general.collections_grid" }]
}
{% endschema %}
