{% render 'section-base-style' %}
{% liquid
  assign first_class = 'contact-section ' | append: 'm-color-' | append: section.settings.color_scheme 
  assign first_class = first_class | append: ' ' | append: section.settings.color_control
  assign first_class = first_class | append: ' ' | append: section.settings.custom_class
  assign first_class = first_class | append: ' ' | append: 'section-' | append: section.id | append: '-padding'
  assign container_width = section.settings.container_width
%}

<div class="{{ first_class }}">
  <div class="{{ container_width }}">
    <div class="inner-section {% if section.settings.enable_sidebar_space %}sidebar-space{% endif %}">
        <div class="hero-info text-{{ section.settings.text_align }}">
            <h1 class="hero-title {{ section.settings.title_font_size }}">{{ section.settings.hero_title }}</h1>
            {{ section.settings.hero_description }}
        </div>

        <div class="contact-wrapper cols-2">
        <!-- LEFT SIDE -->
        <div class="contact-info">
            {% for block in section.blocks %}
                {%- case block.type -%}
                {%- when 'text-block' -%}
                    <div class="info-card" {{ block.shopify_attributes }}>
                        {% if block.settings.image_icon != blank %}
                        <div class="icon">
                            {% render 'image',
                            class: 'icon_image',
                            image: block.settings.image_icon,
                            crop: 'center',
                            img_alt: block.settings.title
                            %}
                        </div>
                        {% endif %}
                        <div class="info">
                            <h3 class="block-title">{{ block.settings.title }}</h3>
                            <div class="block-content">{{ block.settings.content }}</div>
                        </div>
                    </div>
                {%- when 'store-address' -%}
                    <div class="info-card" {{ block.shopify_attributes }}>
                        <div class="icon">
                            {%- render 'theme-icon', icon: 'location' -%}
                        </div>
                        <div class="info">
                            <h3 class="block-title">{{ block.settings.title }}</h3>
                            <div class="block-content">{{ block.settings.content }}</div>
                        </div>
                    </div>
                {%- when 'phone' -%}
                    <div class="info-card" {{ block.shopify_attributes }}>
                        <div class="icon">
                            {%- render 'theme-icon', icon: 'phone' -%}
                        </div>
                        <div class="info">
                            <h3 class="block-title">{{ block.settings.title }}</h3>
                            <div class="block-content">{{ block.settings.content }}</div>
                        </div>
                    </div>
                {%- when 'email' -%}
                    <div class="info-card" {{ block.shopify_attributes }}>
                        <div class="icon">
                            {%- render 'theme-icon', icon: 'email' -%}
                        </div>
                        <div class="info">
                            <h3 class="block-title">{{ block.settings.title }}</h3>
                            <div class="block-content">{{ block.settings.content }}</div>
                        </div>
                    </div>
                {%- when 'whatsapp' -%}
                    <div class="info-card" {{ block.shopify_attributes }}>
                        <div class="icon">
                            {%- render 'theme-icon', icon: 'whatsapp' -%}
                        </div>
                        <div class="info">
                            <h3 class="block-title">{{ block.settings.title }}</h3>
                            <div class="block-content">{{ block.settings.content }}</div>
                        </div>
                    </div>
                {%- when 'socials-link' -%}
                    <div class="social-links" {{ block.shopify_attributes }}>
                        <h3 class="block-title">{{ block.settings.title }}</h3>
                        {% render 'socials-link' %}
                    </div>

                {% endcase -%}
            {% endfor %}
        </div>


        <!-- RIGHT SIDE -->
        <div class="contact-form">

            {% form 'contact' %}

            {% if form.posted_successfully? %}
                <div class="form-success">
                Message sent successfully.
                </div>
            {% endif %}

            {% if form.errors %}
                <div class="form-errors">
                {{ form.errors | default_errors }}
                </div>
            {% endif %}

            <div class="field">
                <label for="ContactName">Full name</label>
                <input
                type="text"
                id="ContactName"
                name="contact[name]"
                value="{{ form.name }}"
                placeholder="Enter your full name"
                required
                >
            </div>

            <div class="field">
                <label for="ContactEmail">Email</label>
                <input
                type="email"
                id="ContactEmail"
                name="contact[email]"
                value="{{ form.email }}"
                placeholder="Enter your email address"
                required
                >
            </div>

            <div class="field">
                <label for="ContactSubject">Subject</label>
                <input
                type="text"
                id="ContactSubject"
                name="contact[subject]"
                placeholder="Enter subject"
                required
                >
            </div>

            <div class="field">
                <label for="ContactMessage">Message</label>
                <textarea
                id="ContactMessage"
                name="contact[body]"
                rows="6"
                placeholder="Write your message here"
                required
                ></textarea>
            </div>

            <button type="submit" class="button">
                Send message
            </button>
            {% endform %}
        </div>

        </div>
    </div>
  </div>
</div>


{% stylesheet %}
.contact-section .contact-info {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.contact-section .hero-title {
    margin-bottom: 0.7rem;
}
.contact-section .contact-wrapper {
  gap: 5rem;
}
.contact-section .info-card {
    display: flex;
    gap: 1rem;
}
.contact-section .block-title {
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
}
.contact-section .icon {
    width: 2rem;
}
.contact-section .info {
    width: calc(100% - 2rem);
}
.contact-section .form-errors {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 1px solid #b3261e;
  color: #b3261e;
}

.contact-section .form-success {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 1px solid green;
  color: green;
}
{% endstylesheet %}


{% schema %}
{
  "name": "Contact Info",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "enable_sidebar_space",
      "label": "Enable sidebar space",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "select",
      "id": "container_width",
      "label": "Container width",
      "options": [
        { "value": "container", "label": "Container" },
        { "value": "container-fluid", "label": "Container fluid" },
        { "value": "container-narrow", "label": "Container narrow" },
        { "value": "container-extra-narrow", "label": "Container extra narrow" },
        { "value": "extended", "label": "Extended" }
      ],
      "default": "extended"
    },
    {
        "type": "text",
        "id": "hero_title",
        "label": "Hero Title",
        "default": "Get In Touch"
    },
    {
      "type": "select",
      "id": "title_font_size",
      "label": "Font size",
      "options": [
        { "value": "h1", "label": "h1" },
        { "value": "h2", "label": "h2" },
        { "value": "h3", "label": "h3" },
        { "value": "h4", "label": "h4" },
      ],
      "default": "h3"
    },
    {
        "type": "richtext",
        "id": "hero_description",
        "label": "Hero description",
        "default": "<p>Feel free to contact us using the information below or send us a message</p>"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text align",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" },
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 52
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom class"
    },
    {
      "type": "select",
      "id": "color_control",
      "label": "Color Control",
      "options": [
        { "value": "section-dark", "label": "Dark" },
        { "value": "section-light", "label": "Light" }
      ],
      "default": "section-light"
    }
  ],
  "blocks": [
    {
      "type": "text-block",
      "name": "Text block",
      "settings": [
        {
            "type": "image_picker",
            "id": "image_icon",
            "label": "Image icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Call us"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    },
    {
      "type": "store-address",
      "name": "Store Address",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Store Location"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    },
    {
      "type": "phone",
      "name": "Phone",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Phone"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    },
    {
      "type": "email",
      "name": "Email",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Email"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    },
    {
      "type": "whatsapp",
      "name": "Whatsapp",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Whatsapp"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    },
    {
      "type": "socials-link",
      "name": "Socials link",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Follow Us"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact Info",
      "blocks": [
        { "type": "store-address" },
        { "type": "phone" },
        { "type": "email" },
        { "type": "whatsapp" },
        { "type": "socials-link" },
      ]
    }
  ]
}
{% endschema %}
