{% comment %}
  This section is used in the page template to render store pages like About us
  or Contact us.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/page
{% endcomment %}
{% liquid
  assign first_class = 'collections-list ' | append: 'm-color-' | append: section.settings.color_scheme 
  assign first_class = first_class | append: ' ' | append: section.settings.color_control
  assign first_class = first_class | append: ' ' | append: section.settings.custom_class

  assign container_width = section.settings.container_width
%}
<div class="{{ first_class }}">
  <div class="{{ container_width }}">
    <div class="content-wrapper sidebar-space">
      <h2 class="h3">{{ page.title }}</h2>
      {{ page.content }}
    </div>
  </div>
</div>

{% stylesheet %}
.collections-list {
    padding: 6rem 0 4rem 0;
}
.collections-list .title-wrapper h2 {
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.collection-card__content p{
  padding: 0.5rem;
}
{% endstylesheet %}
<h1>{{ page.title }}</h1>

{{ page.content }}

{% schema %}
{
  "name": "t:general.page",
  "settings": []
}
{% endschema %}
