{% comment %}
  This section is used in the search template to render search results for
  products, articles, and pages.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/search
{% endcomment %}
<div class="search-products m-color-{{ section.settings.product_color_scheme }} {{ section.settings.color_control }} {{ section.settings.custom_class }}">
  <div class="{{ section.settings.container_type }}">

    <!-- Header -->
    <div class="search-header sidebar-space"> 
      <h2 class="search-title h3">{{ 'search.title' | t }}</h2>
    </div>

    <!-- Search Form -->
    <div class="search-form sidebar-space"> 
      <form action="{{ routes.search_url }}" method="get" role="search">
        <input
          type="search"
          name="q"
          value="{{ search.terms | escape }}"
          placeholder="{{ 'search.placeholder' | t }}"
        >
        <button type="submit" class="search__submit">{{ 'search.submit' | t }}</button>
      </form>
    </div>
    <div class="search-result-note sidebar-space">
        {% if search.results_count == 0 %}
          <p>{{ 'search.no_results_html' | t: terms: search.terms }}</p>
        {% else %}
          <p>{{ 'search.results_for_html' | t: terms: search.terms, count: search.results_count }}</p>
    {% endif %}
    </div>
    <!-- Results -->
    <div class="collection-wrapper sidebar-space">
      <main class="inner-warpper">
        <div class="product-list">

          {% if search.performed %}

            {% paginate search.results by 20 %}

              {% assign product_results = search.results | where: "object_type", "product" %}

              {% if product_results.size > 0 %}
                <div class="products-grid cols-{{ section.settings.grid_columns }}{% if section.settings.show_two_mobile %} cols-mobile-2{% endif %}">
                  {% for result in product_results %}
                    {% render 'product-card', product: result %}
                  {% endfor %}
                </div>

                {{ paginate | default_pagination }}
              {% endif %}

            {% endpaginate %}

          {% endif %}

        </div>
      </main>
    </div>

  </div>
</div>


{% stylesheet %}
.search-products {
    padding: 6rem 0 4rem 0;
}
.collections-list .search-title h2 {
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.search-products .search-form form{
  display: flex;
  align-items: center;
}
.search-products .search-form input[type=search] {
    background: transparent;
    border: 1px solid rgb(var(--color-border));
    border-right: 0;
    color: rgb(var(--color-text));
    padding: .65rem;
    border-radius: 0;
    line-height: 1;
}
.search-products .search-form input[type=search]::placeholder {
  font-size: 0.7em;
  text-transform: uppercase;
   letter-spacing: 1.5px;
}
.search-products button.search__submit {
    background: rgb(var(--color-heading));
    color: rgb(var(--color-background));
    height: 100%;
    padding: 0.8rem 2.2rem;
    border: rgb(var(--color-heading));
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-left: -5px;
}
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.search",
  "settings": [
        {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "container_type",
      "label": "Container Type",
      "options": [
        { "value": "container", "label": "Container" },
        { "value": "container-fluid", "label": "Container Fluid" },
        { "value": "container-narrow", "label": "Container Narrow" },
        { "value": "container-extra-narrow", "label": "Container Extra Narrow" },
        { "value": "extended", "label": "Extended" }
      ],
      "default": "container"
    },
    {
      "type": "color_scheme",
      "id": "product_color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Product Grid"
    },
    {
      "type": "select",
      "id": "grid_columns",
      "label": "Grid Columns",
      "options": [
        { "value": "2", "label": "2" },
        { "value": "3", "label": "3" },
        { "value": "4", "label": "4" },
        { "value": "5", "label": "5" },
        { "value": "6", "label": "6" }
      ],
      "default": "4"
    },
    {
      "type": "checkbox",
      "id": "show_two_mobile",
      "label": "Show 2 col mobile",
      "info": "You can show 2 column in a mobile",
      "default": false
    },
    {
      "type": "header",
      "content": "Pagination"
    },
    {
      "type": "checkbox",
      "id": "enable_pagination",
      "label": "Enable Pagination",
      "default": true
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 2,
      "max": 48,
      "step": 1,
      "label": "Products per page",
      "default": 24
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom class"
    },
    {
      "type": "select",
      "id": "color_control",
      "label": "Color Control",
      "options": [
        { "value": "section-dark", "label": "Dark" },
        { "value": "section-light", "label": "Light" }
      ],
      "default": "section-light"
    }
  ]
}
{% endschema %}
